@import url(components/buttons.css);
@import url(components/navbar.css);
@import url(components/container.css);
@import url(components/cards.css);
@import url(components/avatars.css);
@import url(components/sidebar.css);

body {
  font-family: helvetica;
  color: rgba(1,1,1,.8);
  background-color: lightgreen;
}
h3, ul {
  padding: 0;

  margin: 0;
}
h1 {
  font-size: 32px;
  color: rgba(1,1,1,0.7);
}
h2 {
  font-size: 24px;
  color: rgba(1,1,1,0.3);
  font-weight: lighter;
}
h3 {
  font-size: 14px;
  color: rgba(1,1,1,0.3);
}
h3.active {
  color: rgba(1,1,1,0.7);
  text-decoration: underline green;
}
h4 {
  font-size: 12px;
  color: rgba(1,1,1,0.1);
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
  color: rgba(1,1,1,0.4);
}
.flexcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

