.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(1,1,1,0.05);
  margin-bottom: 16px;
  padding: 24px 24px;
}
.navbar {
  flex: 0 1 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search {
  text-align: right;
  flex: 0 1 30%;
}

