.sidebar {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(5, 1fr);
}
.sidebar-top {
  display: flex;
  align-items: center;
  grid-area: 1 / 1 / 2 / 6;
  align-self: flex-start;
}
.div-menu {
  height: 100%;
  width: 100%;
  align-self: center;
}
img.logo {
  width: 150px;
}
.sidebar-title {
  text-align: left;
  grid-area: 2 / 3 / 4 / 5;
}
.sidebar-bottom {
  display: flex;
/*  align-items: center;*/
  justify-content: space-between;
  align-items: center;
  grid-area: 3 / 1 / 6 / 6;
  align-self: center;
}
.social-link {
  width: 50% ;
  display: flex;
  justify-content: center;
}
