@import url("components/buttons.css");
@import url("components/cards.css");
@import url("components/container.css");

body {
  background-color: #e3dac9;
  font-family: HELVETICA;
}
a {
  display: inline-block;
  text-decoration: none;
}

